# Build
bin/
obj/
out/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dbmdl

# Logs
*.log

# NuGet
*.nupkg
.nuget/
packages/
*.snupkg

# DotCover
*.dotCover

# Reqnroll (ex-SpecFlow)
*.feature.cs
*.feature.tokens
/Features/**/*.cs

# ReSharper
_ReSharper*/
*.DotSettings.user

# User-specific files
*.swp
*.bak
*.tmp
*.orig
*.mdf
*.ldf

# OS junk
.DS_Store
Thumbs.db

# Git artifacts
*.orig

# launch config
launchSettings.json

# Global tools
/.store/
/.vscode/

# Logs and crash dumps
*.pid
*.log
*.dmp